.page-layout {
    width: 100%;
    height: 100%;
    header.top-bar {
        height: 50px;
        width: 100%;
        z-index: 9999;
    }
}

.headspace {
    height: 50px;
}

main.content {
    padding-top: 90px;
    padding-left: 160px;
    padding-right: 10px;
    width: calc(100vw - 170px);
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: calc(100vh - 90px);

}