.section-container {
    width: auto;
    height: 100%;
    .input-group {
        margin: 2em 0;
        .dropdown-field {
            position: relative;
            display: inline;
            .dropdown-button {
                margin-left: 1em;
                cursor: pointer;
                padding: 5px;
                svg.chevron {
                    fill: white;
                    transform: rotate(90deg);
                    height: 1em;
                    width: auto;
                    margin: auto 5px;
                }
            }
            &.open {
                .dropdown-button {
                    svg.chevron {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}

ul.dropdown-list {
    cursor: pointer;
    li:hover {
        text-decoration: underline;
    }
}

#exit.button-exit {
    width: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 5px;
    background-color: #4FB562;

    &:hover {
        background-color:#3e934e;
    }
}

.cta .chevron {
    fill: white;
    height: 0.7em;
    width: auto;
    padding-left: 1em;
}

.footer {
    &.bankr-paper {
        margin-top: 0;
    }
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4em;
    svg {
        width: 1.2em;
        height: auto;
        margin: 3px 0;
        margin-right: 0.5em;
    }
    p {
        font-style: italic;
        font-size: 70%;
        display: inline;
    }
}

.bankr-paper {
    width: 100%;
    h2 {
        font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 2em;

    }
    margin: 2.4em 0;
    padding: 1em;
}