.section-container {
    overflow-x: hidden;
    width: auto;
    height: 100%;
    .dropdown-field {
        .dropdown-button {
            cursor: pointer;
            padding: 5px;
                &::after{
                    content: "\/"; //replace with glyphicon
                }
        }
        ul.dropdown-list {
            display: none;
        }
        &.open {
            ul.dropdown-list {
                display: block;
            }
            .dropdown-button::after{
                content: "^" //replace with glyphicon
            }

        }
    }
    
}