.section-container {
    overflow-x: hidden;
    width: auto;
    height: 100%;
    .dropdown-field {
        position: relative;
        .dropdown-button {
            cursor: pointer;
            padding: 5px;
                svg.chevron {
                    fill: white;
                    transform: rotate(90deg);
                    height: 1em;
                    width: auto;
                    margin: auto 5px;
                }
        }
        &.open {
            .dropdown-button{
                svg.chevron {
                    transform: rotate(-90deg);
                }
            }

        }
    }
    
}

ul.dropdown-list {
    cursor: pointer;
    li:hover {
        text-decoration: underline;
    }
}


#exit.button-exit {
    width: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 5px;
}